<div class="container">
  <h2 class="d-flex justify-content-center">Marketing Tool Pro</h2>
  <h5 class="d-flex justify-content-center"> Trending and Network Search </h5>
</div>

<mat-form-field class="example-full-width" style="padding: 20px;">
  <mat-label>Cookie</mat-label>
  <input matInput [(ngModel)] = "cookies">
</mat-form-field>

<mat-tab-group>

  <mat-tab label="Top Trending">

  <mat-form-field class="example-full-width"style="padding: 20px;">
    <mat-label>Region code</mat-label>
    <input matInput [(ngModel)] = "regionCode">
  </mat-form-field>
  
  <div>
      <button (click)='getTopTrendingClick()' type="button" class="btn btn-outline-primary" >Top Trending</button>
      <button *ngIf="isHiddenPause" (click)='autoGetNetwork()' type="button" class="btn btn-outline-primary"style="margin-left: 30px;">Auto </button>
      <button *ngIf="!isHiddenPause" (click)='stopAutoGetNetwork()' type="button" class="btn btn-danger" style="margin-left: 30px;">Stop </button>
  </div>


  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Published</th>
        <th scope="col">Net work</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dataItem of listYoutubeTrending; let i = index" (click)="ClickedRow(i)" [class.active]="i == HighlightRow">
        <td>{{i + 1}}</td>
        <td>https://www.youtube.com/watch?v={{dataItem.id}}</td>
        <td>{{dataItem.snippet.title}}</td>
        <td>{{dataItem.snippet.publishedAt}}</td>
        <td>
        <button *ngIf="!dataItem.edit" (click)='checkNetWorkClick(dataItem, i)' type="button" class="btn btn-outline-primary">Check</button>
        <label *ngIf="dataItem.edit">{{listYoutubeTrending[i].networkName}}</label>
        <div *ngIf="dataItem.isLoadingAPI" class="spinner-border" role="status">
        </div>
        </td>
      </tr>
    </tbody>
  </table>
  
  </mat-tab>
  
  <mat-tab label="Search One"> 
    <div class="input-group justify-content-md-center" style="width: 1200px;margin-left: auto;margin-right: auto" >
      <input [(ngModel)] = "linkYoutube" type="text" class="form-control" placeholder="Link Youtube" aria-label="Link Youtube" aria-describedby="button-addon2">
      <button (click)='searchWithOneVideo()' class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
    </div>

    <table class="table table-hover">
      <thead>
        <th scope="col">ID</th>
        <th scope="col">Network</th>
      </thead>

      <tbody>
        <tr>
          <td>{{linkYoutube}}</td>
          <td>{{networkAtSearchOne}}</td>
        </tr>
      </tbody>
    </table>


  </mat-tab>

  <mat-tab label="Search Multiple">
    <div class="input-group mb-3" style="width: 1200px;margin-left: auto;margin-right: auto">
      <button (click)='uploadFile()' class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon03">UploadFile</button>
      <input type="file" (change)="onFileSelected($event)" class="form-control" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" aria-label="Upload">
      <button (click)='getNet()' class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon03">Get Net</button>
    </div>

    <table class="table table-hover">
        <thead>
          <th scope="col">ID</th>
          <th scope="col">Link</th>
          <th scope="col">Network</th>
        </thead>

        <tbody>
          <tr *ngFor="let item of listSearchMultiple; let i = index">
            <td>{{i + 1}}</td>
            <td>{{item.link}}</td>
            <td>
            {{item.networkName}}
            <div *ngIf="item.isLoadingAPI" class="spinner-border" role="status"></div>
            </td>
          </tr>
        </tbody>
      </table>

  </mat-tab>

</mat-tab-group>